<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords"
    content="contents marketer, 콘텐츠마케터, 콘텐츠 마케터, 마케터, 마케터 채용, 콘텐츠 마케터 함지영, 함지영, 마케터 함지영, 모딧 함지영, 로켓펀치, 사람인, 잡코리아, 원티드">
  <title>Hamjiyoung Portfolio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,900&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />

  <style>
    .mainfont-custom {
      font-weight: 900;
      font-size: 70px;
    }

    .body {
      text-align: center;
    }

    .has-same-height .card {
      height: 320px;
      overflow: hidden;
    }

    .card-content h3 {
      text-align: center;
    }

    .table-profile td,
    th {
      border: none !important;
    }

    .table-profile td:first-of-type {
      font-weight: bold;
    }

    .skills-content .media {
      margin: 0 !important;
      padding: 4px !important;
      border: 0 !important;
    }

    .skills-content .progress {
      height: 4px !important;
    }

    .custom-tags {
      text-align: center !important;
      display: block;
    }

    .portfolio-container .card {
      margin-bottom: 2em;
    }

    .section-heading {
      text-align: center;
      margin-top: 1em;
      margin-bottom: 6em;
    }


    * {
      font-family: 'Noto Sans KR', sans-serif;
    }
  </style>
  <script>
    // 메뉴 클릭 시 페이지 이동 함수 추가
    $(document).ready(function () {

      // Check for click events on the navbar burger icon
      $(".navbar-burger").click(function () {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

      });
    });

    function contact() {
      var name = $('#contact_name').val();
      var email = $('#contact_email').val();
      var message = $('#contact_message').val();

      if (name == '') {
        alert('성함/회사 이름을 입력하세요.');
        $("#contact_name").focus();
        return;
      } else if (email == '') {
        alert('이메일 주소를 입력하세요.');
        $("#contact_email").focus();
        return;
      } else if (!EmailCheck(email)) {
        alert('이메일 입력 형식이 틀립니다. \n @email.com 형식으로 입력해주세요.')
        $("#contact_email").focus();
        return;
      } else if (message == '') {
        alert('내용을 입력해주세요.');
        $("#contact_message").focus();
        return;
      }

      
      $.ajax({
                type: 'POST',
                url: '/contacts',
                data: { 'name_give': name, 'email_give': email, 'message_give': message}, 
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('메일이 성공적으로 발송되었습니다. \n 1주일 이내로 회신 드리겠습니다.');
                        $('#name').val();
                        $('#email').val();
                        $('#message').val();
                        window.location.reload();
                    }
                }
            });
    }

    function EmailCheck(email) {
      var regEmail = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
      return regEmail.test(email);
    }

  </script>
</head>

<body class="body">
  <!-- Navigation bar -->
  <nav class="navbar is-black is-fixed-top">
    <div class="navbar-brand">
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#about">
          <span class="icon">
            <i class="fas fa-info"></i>
          </span>
          <span>About</span>
        </a>
        <a class="navbar-item" href="#services">
          <span class="icon">
            <i class="fas fa-bars"></i>
          </span>
          <span>Services</span>
        </a>
        <a class="navbar-item" href="#resume">
          <span class="icon">
            <i class="fas fa-file-alt"></i>
          </span>
          <span>Resume</span>
        </a>
        <a class="navbar-item" href="#portfolio">
          <span class="icon">
            <i class="fas fa-th-list"></i>
          </span>
          <span>Portfolio</span>
        </a>
        <a class="navbar-item" href="#contact">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span>Contact</span>
        </a>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <section class="hero is-black is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">Hello! I am
        <h1 class="title is-1">
          Ham Jiyoung
        </h1>
        <h2 class="subtitle is-4">
          Contents Marketer
        </h2>
        <br>and more...?
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="section" id="about">
    <!-- Title -->
    <div class="section-heading">
      <h3 class="title is-2 is-black">About Me</h3>
      <h4 class="subtitle is-5">안녕하신가, 나는 지영! </h4>
      <div class="container">
        <p>콘텐츠 마케터이다. <strong>3년 차</strong>A부터 Z까지의 경험을 갖고 있는
          <strong>스타트업의 다양한 경험과</strong>, 언제나 새로운 경험 필요하다. 다양한 업무 능력 향상을 위해</p>
      </div>
    </div>

    <div class="columns has-same-height is-gapless">
      <!-- has-same-height가 column에만 작용.
        content크기는 달라서 원하는대로 작동하지 않는다. 해결 필요! 
      4월 14일 해결/css 파일이 불러와지지 않아 적용이 되지 않은 것. 그래서 본문에 통채로 추가해버림-->
      <div class="column">
        <!-- Profile -->
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">Profile</h3>
            <div class="content">
              <table class="table-profile">
                <tr>
                  <th colspan="1"></th>
                  <th colspan="2"></th>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>서울특별시</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>010-7456-1526</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>lovemu1220@naver.com</td>
                </tr>
              </table>
            </div>
            <br>
            <div class="buttons has-addons is-centered">
              <a href="https://www.rocketpunch.com/@9853a6386b474c64" target="_blank"
                class="button is-dark">RocketPunch</a>
              <a href="https://blog.naver.com/lovemu1220" target="_blank" class="button is-dark">Blog</a>
              <a href="https://github.com/HAMJiyoung/myproject" target="_blank" class="button is-dark">Github</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- Profile picture -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="C:\Users\함지영\Documents\GitHub\myproject\face_02.png" alt="Placeholder image">
            </figure>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- Skills -->
        <div class="card">
          <div class="card-content skills-content">
            <h3 class="title is-4">Skills</h3>
            <div class="content">

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Adobe Photoshop</strong>
                      <br>
                      <progress class="progress is-success" value="90" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Adobe Premiere Pro</strong>
                      <br>
                      <progress class="progress is-success" value="70" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Copywriting</strong>
                      <br>
                      <progress class="progress is-success" value="75" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Marketing Strategy</strong>
                      <br>
                      <progress class="progress is-success" value="80" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skills tags -->
  <!-- <br>
        <div class="tags custom-tags">
          <span class="tag is-light">Node.js</span><span class="tag is-light">Express.js</span><span class="tag is-light">VueJS</span><span
            class="tag is-light">JavaScript</span><span class="tag is-light">HTML5</span><span class="tag is-light">Canvas</span><span
            class="tag is-light">CSS3</span><span class="tag is-light">Bulma</span><span class="tag is-light">Bootstrap</span><span
            class="tag is-light">jQuery</span><span class="tag is-light">Pug</span><span class="tag is-light">Stylus</span><span
            class="tag is-light">SASS/SCSS</span><span class="tag is-light">Webpack</span><span class="tag is-light">Git</span><span
            class="tag is-light">ASP.NET Web Forms</span><span class="tag is-light">MSSQL</span><span class="tag is-light">MongoDB</span><span
            class="tag is-light">Apache Cordova</span><span class="tag is-light">Chrome Extensions</span>
        </div> -->

  <!-- Services -->
  <section class="section" id="services">
    <div class="section-heading">
      <h3 class="title is-2">Services</h3>
      <h4 class="subtitle is-5">3년 차 콘텐츠 마케터로 무엇을 할 수 있을까요?</h4>
    </div><br>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">광고 전략 수립</h4>
              기간별/예산별 최적화된 마케팅 계획을 수립합니다. 한정된 자원 안에서 빠르게 결정하고 꼼꼼하게 진행합니다.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">데이터 분석</h4>
              구글 애즈, SNS 광고와 같은 유료 광고 시 A/B 테스트 등을 통한 데이터를 분석하여 다음 액션을 결정합니다.
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">SNS 운영</h4>
              인스타그램, 페이스북 그룹 등 각종 SNS 및 플랫폼의 특성을 파악하여 브랜드 채널을 운영합니다.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">크리에이티브 제작</h4>
              어도비 포토샵, 프리미어를 이용한 광고와 기타 프로젝트에 필요한 이미지/영상 기획 및 제작이 가능합니다.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Resume -->
  <section class="section" id="resume">
    <div class="section-heading">
      <h3 class="title is-2">Resume</h3>
      <h4 class="subtitle is-5">제가 지금까지 해온 일이에요.</h4>
      <a href="#" class="button is-dark is-medium">
        <span class="icon">
          <i class="fas fa-file-alt"></i>
        </span>
        <span>Download</span>
      </a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="section" id="portfolio">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Portfolio</h3>
        <h4 class="subtitle is-5">자랑스러운 제 작품을 감상해보세요.</h4>
      </div>


      <div class="container portfolio-container">
        <div class="columns">
          <div class="column is-4">
            <!-- admin -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <!-- 카드 서버 작업 1. 제목 찾기 -->
                  <span>소름 돋는 타로점, 타로문</span>
                  <span class="is-pulled-right">
                    <span class="tag is-default">Youtube</span>
                    <span class="tag is-default">Web</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <!-- 카드 서버 작업 2. 썸네일 찾기 -->
                  <img
                    src="https://i.ytimg.com/vi/LFewTDZAI1Q/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBHggouYZsQcMZRK4v59rpDqp7jxw"
                    alt="Thumbnail">
                </figure>
              </div>
              <footer class="card-footer">
                <!-- 버튼 색상 변경/ 링크 새창에서 띄우기 -->
                <a href="https://www.youtube.com/watch?v=LFewTDZAI1Q" class="card-footer-item">보러가기</a>
              </footer>
            </div>
            <!-- cards -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cards</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/cards.png" alt="Cards template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cards.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cards.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- forum -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Forum</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/forum.png" alt="Hero template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/forum.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/forum.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- insta album -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>InstaAlbum</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/instaalbum.png" alt="Landing template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/instaAlbum.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/instaAlbum.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- landing -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Landing</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/landing.png" alt="Landing template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/landing.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/landing.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>

          </div>
          <div class="column is-4">
            <!-- band -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Band</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/band.png" alt="Band template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/band.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/band.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cheatsheet -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cheatsheet</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://dummyimage.com/555x255/000/fff" alt="Cheatsheet template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cheatsheet.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cheatsheet.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- hero -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Hero</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/hero.png" alt="Hero template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/hero.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/hero.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--kanban -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Kanban</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/kanban.png" alt="Kanban template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/kanban.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/kanban.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- login -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Login</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/login.png" alt="Login template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/login.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/login.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
          </div>
          <div class="column is-4">
            <!-- blog -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Blog</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-danger">WIP</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/blog.png" alt="Blog template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/blog.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/blog.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cover -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cover</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/cover.png" alt="Cover template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cover.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cover.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--inbox -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Inbox</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/inbox.png" alt="Inbox template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/inbox.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/inbox.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--kanban with functional search-->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Kanban with Search box</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="../images/kanban2.png" alt="Kanban template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/kanban[search].html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/kanban[search].html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--tabs-->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Modal Cards</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://dummyimage.com/555x255/000/fff" alt="modal-cards template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/modal-cards.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/modal-cards.html"
                  class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="section" id="contact">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Contact</h3>
        <h4 class="subtitle is-5">저와 이야기 하고 싶으시다면?</h4>
      </div>

      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="box">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input id="contact_name" class="input" type="text" placeholder="성함 또는 회사 이름을 입력해주세요.">
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input id="contact_email" class="input" type="email" placeholder="email@email.com" value="">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea id="contact_message" class="textarea" placeholder="내용을 입력해주세요."></textarea>
              </div>
            </div>

            <div class="field is-grouped is-grouped-centered has-text-centered">
              <div class="control">
                <button onclick="contact()" class="button is-dark is-large">
                  <span class="icon">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span>Submit</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="section-heading">
      <p>
        <strong>Bulma Personal Template</strong> by <a href="https://mubaidr.js.org">Muhammad Ubaid Raza</a>. The
        source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
</body>

</html>